# =============== #
# Unity generated #
# =============== #

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Bb]ee/
.vs/
.idea/
.vscode/
*.user
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
